<span *ngFor="let item of listItems">
  <mat-card
    class="todo-card"
    *ngIf="sidenavService.isExpanded()"
    [ngClass]="{ selected: isHighlightedItem(item.id) || isSelectedItem(item.id) }"
  >
    <mat-card-content
      (mouseenter)="setHighlightedItem(item.id)"
      (mouseleave)="setHighlightedItem(null)"
      (click)="selectList(item.id)"
    >
      {{ item.name }}
      <button
        mat-icon-button
        class="edit-icon"
        (click)="updateItem(item.id)"
        *ngIf="isHighlightedItem(item.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        class="delete-icon"
        (click)="removeItem(item.id)"
        *ngIf="isHighlightedItem(item.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-content>
  </mat-card></span
>
<span
  ><mat-card
    class="todo-card"
    *ngIf="sidenavService.isExpanded()"
    (click)="createList()"
    [ngClass]="{ selected: isHighlightedItem('new') }"
  >
    <mat-card-content
      (mouseenter)="setHighlightedItem('new')"
      (mouseleave)="setHighlightedItem(null)"
      >Nova lista
    </mat-card-content>
  </mat-card></span
>
